.bahasa-muna {
  .sejarah-singkat,
  .aturan-bahasa,
  .mini-kamus {
    h2 {
      color: white;
      font-size: 8rem;
      font-weight: 600;
      font-family: Mango;
    }
  }

  .sejarah-singkat {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    padding: 0 5em;
    .sejarah-content {
      background-color: rgba(255, 255, 255, 0.502);
      padding: 1em;
      border-radius: 1em;
      p {
        margin: 1em;
      }
    }
  }

  .aturan-bahasa {
    display: flex;
    flex-direction: column;
    // justify-content: right;
    align-items: end;
    padding: 0 5em;
    .aturan-content {
      background-color: rgba(255, 255, 255, 0.507);
      padding: 1em;
      border-radius: 1em;
      p {
        margin: 1em;
      }
    }
  }
}

.mini-kamus {
  text-align: center;
  // align-items: center;
  .mini-kamus-content {
    table,
    th,
    td {
      border: 2px solid $oren;

      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
    }
    th,
    td {
      padding: 1em;
    }
    table {
      // border-radius: 10px;
      width: 80%;
      thead {
        background-color: $oren;
      }
      tbody {
        background-color: white;
      }
    }
  }
}
