.bahasa-muna {
  display: flex;
  flex-direction: column;
  gap: 4em;
  .sejarah-singkat,
  .aturan-bahasa,
  .mini-kamus {
    h2 {
      color: white;
      font-size: 8rem;
      font-weight: 600;
      font-family: Mango;
    }
    p {
      font-family: 'Inter', sans-serif;
    }
  }

  .aturan-bahasa,
  .mini-kamus {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .sejarah-singkat {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    padding: 0 5em;
    .sejarah-content {
      background-color: rgba(255, 255, 255, 0.502);
      padding: 1em;
      border-radius: 1em;
      p {
        margin: 1em;
      }
    }
  }

  .aturan-bahasa {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 5em;
    .aturan-content {
      background-color: rgba(255, 255, 255, 0.507);
      padding: 1em;
      border-radius: 1em;
      p {
        margin: 1em;
      }
    }
  }
}

.mini-kamus {
  text-align: center;
  .mini-kamus-content {
    table,
    th,
    td {
      border: 2px solid $oren;

      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
      // padding: 0.1em;
    }
    th,
    td {
      padding: 2em;
    }
    table {
      // border-radius: 10px;
      width: 90%;
      thead {
        font-size: 20px;
        background-color: $oren;
        color: white;
      }
      tbody {
        background-color: white;
        font-family: 'Inter', sans-serif;
        // font-size: 8px;
        td {
          font-weight: 500;
        }
      }
    }
  }
}
