.daya-tarik {
  background-color: #59c1bd;
  height: 100vh;

  .daya-tarik-jumbotron {
    h1 {
      font-family: Mango;
      font-size: 18vw;
      text-align: center;
      font-weight: 600;
      color: white;
      padding-top: 15rem;
    }
  }

  .daya-tarik-button {
    display: flex;
    gap: 5em;
    justify-content: center;
    margin-top: 5em;
    button {
      background-color: #0f3057;
      color: white;
      padding: 0.6em 1em;
      font-family: Mango;
      font-weight: 600;
      font-size: 1.5vw;
      border: none;
      border-radius: 2em;
    }
    button:hover {
      background-color: white;
      color: #0f3057;
    }
  }
}
