.daya-tarik {
  background-color: $aqua;
  // height: 100vh;
  height: 100%;
  // padding-top: 15em;

  .daya-tarik-jumbotron {
    background-image: url('../asset/daya-tarik-header.png');
    // background-color: red;
    background-size: 90%;
    background-position: center 200px;
    background-repeat: no-repeat;

    position: relative;
    height: 106vh;
    // z-index: 2;
    // padding-top: 5em;
    h1 {
      // z-index: -1;
      font-family: Mango;
      font-size: 15vw;
      text-align: center;
      font-weight: 600;
      color: white;
      white-space: nowrap;
      // padding-top: 15rem;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -105%);
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301);
    }
  }

  .daya-tarik-button {
    .show-btn-container {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      padding: 5em 10em;
      list-style-type: none;
      li {
        button {
          background-color: $oren;
          color: white;
          padding: 0.6em 1em;
          font-family: Mango;
          font-weight: 600;
          font-size: 1.5vw;
          border: none;
          border-radius: 2em;
          cursor: pointer;
        }
        button:hover {
          background-color: white;
          color: $oren;
        }
      }
    }
  }
  .daya-tarik-content {
    display: flex;
    gap: 2em;
    // align-items: center;
    justify-content: center;
    // justify-content: space-between;
    padding: 0 3em;
  }
}
