.daya-tarik {
  background-color: $aqua;
  // height: 100vh;
  height: 100%;
  padding-top: 15em;

  .daya-tarik-jumbotron {
    background-image: url('../asset/daya-tarik-header.png');
    background-size: cover;
    position: relative;
    height: 100vh;
    // padding-top: 5em;
    h1 {
      font-family: Mango;
      font-size: 18vw;
      text-align: center;
      font-weight: 600;
      color: white;
      // padding-top: 15rem;
      position: absolute;
      // top: 50%;
      // right: 50%;
      transform: translate(10%, -50%);
    }
  }

  .daya-tarik-button {
    display: flex;
    // gap: 2em;
    justify-content: space-between;
    // margin-top: 5em;
    padding: 5em 10em;
    button {
      background-color: $oren;
      color: black;
      padding: 0.6em 1em;
      font-family: Mango;
      font-weight: 600;
      font-size: 1.5vw;
      border: none;
      border-radius: 2em;
    }
    button:hover {
      background-color: white;
      color: $dark-blue;
    }
  }
  .daya-tarik-content {
    display: flex;
    gap: 2em;
    // align-items: center;
    justify-content: center;
    // justify-content: space-between;
    padding: 0 3em;
  }
}
