.galeri {
  width: 100%;
  height: 100vh;
  .galeri-hero-image {
    background-image: url('../asset/galeri-header.png');
    background-size: cover;
    position: relative;
    height: 100vh;
    h1 {
      font-family: Mango;
      font-size: 18vw;
      text-align: center;
      font-weight: 600;
      color: white;
      position: absolute;
      transform: translate(10%, 30%);
    }
  }
  .galeri-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2em;
    .child {
      flex-basis: 30%;
    }
  }
}
