.galeri {
  width: 100%;
  height: 100vh;
  .galeri-hero-image {
    display: flex;
    padding: 3em 0 20em 3em;
    h1 {
      font-family: Mango;
      font-size: 18vw;
      text-align: center;
      font-weight: 600;
      color: white;
    }
    background-image: url('../asset/galeri-header.png');
    background-size: cover;
  }
  .galeri-content {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2em;
    .child {
      flex-basis: 30%;
    }
  }
}
