.beranda {
  background-color: #59c1bd;
  height: 100vh;
  h1 {
    font-family: 'Croissant One';
    font-size: 15rem;
    text-align: center;
    font-weight: 500;
  }
  button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #0f3057;
    color: white;
  }
}
