.peta {
  //   background-color: #59c1bd;
  .peta-jumbotron {
    background-image: url('../asset/peta-header.png');
    padding: 6em 0 28em 3em;
    h1 {
      font-family: Mango;
      font-size: 18vw;
      // text-align: right;
      font-weight: 600;
      color: white;
      // right: 0;
    }
  }
}
