.peta {
  .peta-jumbotron {
    background-image: url('../asset/peta-header.png');
    position: relative;
    height: 100vh;
    background-position: bottom;
    h1 {
      font-family: Mango;
      font-size: 18vw;
      font-weight: 600;
      color: white;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(120%, -40%);
      background-position: bottom 100px;
    }
  }
}
