.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-bottom: 2em;
  // margin-bottom: 2em;

  .popup-inner {
    position: relative;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 1em;
    top: 10%;
    transform: translateY(15%);
    // padding-bottom: 2em;
  }

  .popup-inner .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $oren;
    border: none;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 50%;
    font-size: 1.5rem;
    position: absolute;
    transform: translate(50%, -50%);
    cursor: pointer;
  }

  .popup-content {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    padding: 32px;
    font-family: 'Inter', sans-serif;

    .judul-artikel {
      background-color: $aqua;
      border-radius: 1em;
      padding: 0.2em 1em;
      text-align: center;
      color: white;
      h2 {
        font-weight: 500;
      }
    }

    .gambar-artikel {
      .img-dummy {
        background-color: red;
        //   border: 1px solid black;
        height: 300px;
      }
    }

    .teks-artikel {
      text-align: justify;
    }
  }

  .popup-footer {
    background-color: $aqua;
    padding: 1.2em 2em;
    display: flex;
    border-radius: 2em 2em 0 0;
    gap: 0.8em;
    font-family: 'Inter', sans-serif;
    // justify-content: center;
    align-items: center;

    .logo-muna-container {
      height: 2.5em;
      width: 2.5em;
      // background-color: black;
      .logo-muna {
        width: 100%;
      }
    }

    .footer-content {
      color: white;
    }
  }
}
