//LOGIN

@media screen and (max-width: 800px) {
  .login,
  .register {
    .login-content,
    .register-content {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 9;
      width: 100%;
      background: none;
      .web-name {
        .web-name-link {
          color: white;
        }
      }
      .form-container {
        form {
          input {
            border: 2px solid black;
            background-color: rgba(255, 255, 255, 0.96);
          }
        }
        width: 75%;
        padding: 2em;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.774);
      }
    }
    .hero-image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// HAMBURGER

@media screen and (max-width: 1000px) {
  header {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;

    .webProfile {
      // background-color: green;
      .webLogo {
        color: white;
        transform: scale(0.8);
        img {
          background-color: white;
          border-radius: 50%;
          padding: 0.2em;
        }
      }
      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0%;
        background-color: white;
        justify-content: space-between;
        height: 100vh;
        width: 40%;
        padding: 5em 0;
        // position: relative;
        .nav-link-login {
          margin: 0 1.5em;
        }
        ul {
          width: 100%;
          gap: 0;
          height: fit-content;
          // background-color: red;

          // display: none;
          flex-direction: column;
          // text-align: left;
          align-items: flex-start;
          // justify-content: space-around;
          // background-color: white;
          opacity: 1;
          // position: absolute;
          .dropdown {
            .dropdown-content {
              position: static;
              padding-top: 0;
              padding-left: 2em;
            }
            cursor: pointer;
            // background-color: red;
            width: 100%;
          }
          li {
            display: flex;
            align-items: center;
            .nav-link {
              // background-color: red;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              // justify-content: center;
            }
            height: 60px;
            padding: 0 1.5em;
            width: 100%;
            &:hover {
              background: linear-gradient(#59c1bd, #0883b2);
              color: white !important;
              & .nav-link {
                color: white !important;
              }
            }
          }
        }
      }
      .hamburgerMenu {
        z-index: 999;
        cursor: pointer;
        outline: none;
        border: 0px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        // background-color: red;
        gap: 8px;
        span {
          border-radius: 30px;
          height: 5px;
          width: 35px;
          background-color: white;
        }
        // right: 0;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .webProfile {
    padding: 0 !important;
    .webLogo {
      // background-color: red;
    }
  }
}

// GALERI
@media screen and (max-width: 800px) {
  .galeri {
    // height: 50vh;
    // background-color: red;
    .galeri-hero-image {
      background-image: url('../asset/galeri-header-mobile.png');
      background-size: 100%;
      background-repeat: no-repeat;
      height: 55vh;
      // background-color: #0883b2;
      h1 {
        font-size: 6.5rem;
        top: 50%;
        right: 50%;
        transform: translate(50%, -100%);
      }
    }
    .galeri-content {
      // padding: 1em 0;
    }
  }
}

//TENTANG DESA LANOBAKE
@media screen and (max-width: 800px) {
  .tentang-desa {
    .jumbotron {
      h1 {
        font-size: 6rem;
        line-height: 100px;
      }
    }
    section {
      padding: 0 3em;
    }
  }
}

// CARD
@media screen and (max-width: 800px) {
}

// DAYA TARIK
@media screen and (max-width: 800px) {
  .daya-tarik {
    .daya-tarik-jumbotron {
      background-size: 125%;
      background-position: center 250px;
      height: 90vh;
      h1 {
        font-size: 18vw;
        // word-spacing: 100vw;
        // white-space: pre-line;
        top: 0;
        transform: translate(50%, 50%);
        white-space: normal;
      }
    }
    .daya-tarik-button {
      position: absolute;
      // display: inline-block;
      ul {
        // display: block;
        padding: 0;
        margin: 0;
        background-color: yellow;
        // list-style: none;
        // justify-content: end;
        // align-items: center;
        // background-color: $oren;
        li {
          // align-items: center;
          padding: 0;
          margin: 0;
          background-color: red;
          height: 100%;
          // top: 0;
          // width: 100%;
          // height: 0;
          button {
            // padding: 0;
            margin: 0;
          }
        }
      }
    }
    .daya-tarik-content {
      flex-direction: column;
      padding: 0;
      gap: 2em;
      justify-content: space-between;
      width: 100%;
      .card-left-container,
      .card-right-container {
        width: 100%;
        .card-content {
          .card-btn-container {
            .card-btn {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
