//LOGIN

@media screen and (max-width: 800px) {
  .login,
  .register {
    .login-content,
    .register-content {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 9;
      width: 100%;
      background: none;
      .web-name {
        .web-name-link {
          color: white;
        }
      }
      .form-container {
        form {
          input {
            border: 2px solid black;
            background-color: rgba(255, 255, 255, 0.96);
          }
        }
        width: 75%;
        padding: 2em;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.774);
      }
    }
    .hero-image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// HAMBURGER

@media screen and (max-width: 1000px) {
  header {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;

    .webProfile {
      // background-color: green;
      .webLogo {
        color: white;
        transform: scale(0.8);
        img {
          background-color: white;
          border-radius: 50%;
          padding: 0.2em;
        }
      }
      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0%;
        background-color: white;
        justify-content: space-between;
        height: 100vh;
        width: 40%;
        padding: 5em 0;
        // position: relative;
        .nav-link-login {
          margin: 0 1.5em;
        }
        ul {
          width: 100%;
          gap: 0;
          height: fit-content;
          // background-color: red;

          // display: none;
          flex-direction: column;
          // text-align: left;
          align-items: flex-start;
          // justify-content: space-around;
          // background-color: white;
          opacity: 1;
          // position: absolute;
          .dropdown {
            .dropdown-content {
              position: static;
              padding-top: 0;
              padding-left: 2em;
            }
            cursor: pointer;
            // background-color: red;
            width: 100%;
          }
          li {
            display: flex;
            align-items: center;
            .nav-link {
              // background-color: red;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              // justify-content: center;
            }
            height: 60px;
            padding: 0 1.5em;
            width: 100%;
            &:hover {
              background: linear-gradient(#59c1bd, #0883b2);
              color: white !important;
              & .nav-link {
                color: white !important;
              }
            }
          }
        }
      }
      .hamburgerMenu {
        z-index: 999;
        cursor: pointer;
        outline: none;
        border: 0px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        // background-color: red;
        gap: 8px;
        span {
          border-radius: 30px;
          height: 5px;
          width: 35px;
          background-color: white;
        }
        // right: 0;
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .beranda{
    .beranda-jumbotron{
      background: url('../asset/beranda-header-mobile.png');
          background-position: bottom;
          background-size: cover;
    text-align: center;
    position: relative;
    .beranda-jumbotron-title{
      // background-color: red;
      transform: translate(50%,30%) scale(.68);
      // transform-origin: center center;
      padding: 5em 0;
    }
    }
    .beranda-intro{
      padding: 0 2em;
      margin-top: 20px;
      // background-color: red;
      p{
        font-size: 1rem;
        // background-color: blue;
        width: 70%;
      }
    }
    .dayaTarik{
      .dayaTarik-inner{
        margin-bottom: -500px;
        transform: translateY(-50%);
        .cardContainer{
          margin-top: 750px;
          align-items: center;
          flex-direction: column;
        }
      }
    }
    .imageSliderContainer{
      height: 80vh;
      h2{
        font-size: 4rem !important;
      }
    }
    footer{
      padding: 0.5 4em;
      padding-bottom: 1em;
      .footerContainer{
        .content{
          font-size: .8rem;
        }
      }
    }
  }
}

// HOME
@media screen and (max-width: 800px) {
  .beranda{

    h2{
      // padding: 0 2em !important;
      padding: 0;
      text-align: center;
      font-size: 2.5rem !important;
    }
    .beranda-video-profile{
      margin-top: 3rem;
      padding: 0 2em !important;
      .lanobake,.moolo{
        h4{
          font-size: 1.5rem !important;
        }
      }
    }
    .petaWilayah{
      flex-direction: column;
      gap: 30px;
      h2{
        span{
          font-size: 5rem;
          margin-bottom: -30px;
        }
        font-size: 6rem !important;
        // line-height: 100px;
      }
      .img{
        width: 250px;
      }
    }
  }
}

// GALERI
@media screen and (max-width: 800px) {
  .galeri {
    // height: 50vh;
    .galeri-hero-image {
      background-image: url('../asset/galeri-header-mobile.png');
      background-size: 100%;
      background-repeat: no-repeat;
      height: 80vh;
      h1 {
        font-size: 8rem;
        top: 28%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
    .galeri-content {
      padding: 1em 0;
    }
  }
}

//TENTANG DESA LANOBAKE
@media screen and (max-width: 800px) {
  .tentang-desa {
    .jumbotron {
      h1 {
        font-size: 6rem;
        line-height: 100px;
      }
    }
    section {
      padding: 0 3em;
    }
  }
}

// CARD
@media screen and (max-width: 800px) {
}

// DAYA TARIK
@media screen and (max-width: 800px) {
  .daya-tarik-content {
    flex-direction: column;
    padding: 0;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    .card-left-container,
    .card-right-container {
      width: 100%;
      .card-content {
        .card-btn-container {
          .card-btn {
            width: 50%;
          }
        }
      }
    }
  }
}

